
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --main-color: #387543;
    --bg: #fff;
    --bg-card: #8DB04A;
    --color-btn: #E5A000;
    /* --border: 0.1rem solid rgba(255,255,255, 0.3); */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 62.5%;
}

li {
    list-style: none;
}


/* cabeçalho */
.header {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: var(--main-color);
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    & img {
    max-width: 100%;
    width: 15rem;
    }

    & .itens-nav {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    & .icons {
        display: flex;
        align-items: center;
        color: var(--color-btn);
    }
    
    & .icons div {
      margin-left: 2rem;
    }
    
    & .icons div ion-icon {
      color: var(--color-btn);
      cursor: pointer;
      font-size: 2rem;
    }
    
    & .icons div ion-icon:hover {
      color: #fff;
    }

    & #menu-btn {
        display: none;
      }

    & .navbar {
        display: flex;
        gap: 20rem;
        font-size: 1.8rem;
        font-weight: 600;
    
        & a {
        color: #fff;
        text-decoration: none;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        transition: background-color 0.3s, color 0.3s;
        }
    
        & a:hover{
        color: #fff;
        background-color: var(--color-btn);
        font-size: 1.8rem;
        text-decoration: none;
        }
    
        & li {
        display: flex;
        gap: 2rem;
        } 
    }
}

/* MIDIA QUERY */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 1.5rem 2rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }

  .header .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    background: #fff;
    width: 30rem;
    height: calc(100vh - 9.5rem);
  }

  .header .navbar a {
    color: var(--bg-card);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
}
}

