@import "../base/variables";
@import "../base/reset";
@import "../base/typography";

.conteiner-secao-lojas {
  max-width: 100rem;
  display: flex;
  flex-flow: column;
  gap: 5rem;
}

.tituloh1-secao-lojas {
    color: $color-font;
    font-size: 3.2rem;
}

.grid-nossas-lojas {
    max-width: 300rem;
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;
    grid-auto-flow: column;
    grid-template-rows: repeat(2, 1fr);
    gap: 6rem;
  
    .card-loja--secao-lojas {
      display: flex;
      flex-flow: column;
      gap: 1rem;
      background-color: $main-color;
      padding: 2rem;
      width: 100%; // Adapte para flexibilidade
      max-width: 50.37rem;
      height: auto;
      border-radius: 2rem;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
  
      img {
        width: 100%;
        max-width: 50rem;
        height: 20rem;
        border-radius: 2rem;
        object-fit: cover;
      }
    }
  
    .endereco--secao-lojas {
      display: flex;
      align-items: center;
      font-size: 1.4rem; // Adicione estilos conforme necessário
      color: $bg;
    }

    .rodape-card-loja {
        display: flex;
        flex-flow: column;
        align-items: center;
        gap: 2rem;
        
        ion-icon{
            font-size: 3rem;
            color: $color-btn;
        }

        .rodape-loja {
            font-size: 1.6rem;
        }
    }
  
    .btn--secao-lojas {
      width: 30rem; // Adapte à largura do conteúdo
      max-width: 350rem; // Defina um mínimo para consistência
      height: auto;
      padding: 0.8rem 1.6rem; // Controle o tamanho do botão
      font-size: 1.6rem;
      text-align: center;
      background-color: $color-btn;
      color: $bg;
      border-radius: 1rem;
  
      &:hover {
        background-color: darken($color-btn, 10%);
      }
    }
  }
  