@import "../base/variables";
@import "../base/reset";
@import "../base/typography";


.secao-encartes {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;
    gap: 2.5rem;

    & .titulo-secao-encarte {
        color: $color-font;
        font-size: 3.2rem;
    }

    & .encarte {
        display: flex;
        flex-flow: column;
        gap: 2.5rem;
    }
}




